# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
.env
venv/

# Environment variables
.env

# Logs
*.log

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / distribution
build/
dist/
*.egg-info/
